
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.titulo-estilizado {
  color: #e2e8d7; 
  font-size: 36px; 
  font-family: "Arial", sans-serif; 
  opacity: 0.8; 
  text-shadow: 5px 5px 1px rgba(43, 13, 126, 0.5);

}


header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 2px;
}


header img {
  width: 100%;
  height: auto; 
}


nav {
  background-color: #2980b9;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav li a:hover {
  background-color: #2c3e50;
}


main {
  padding: 20px;
}


footer {
  background-color: #34495e;
  color: #fff;
  text-align: center;
  padding: 10px;
}
