
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: rgb(247, 239, 239);
    font-family: 'calibri';


}
header {
    background: url('/img/hhh.jpg');
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}
section {
 max-width: 1000px;
 margin: auto;
 padding: 30px 0;


}
section h1 {
    font-size: 44px;
}

.conte {
    text-align: center;
    }
.conte p {
        font-size: 60px;
        font-weight: bold;
        margin: 1em 0;
 }
 nav {
    
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #242526;

}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
nav .list {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .list li {
    list-style: none;
}
nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
     }
     nav .list a:hover {
        border-bottom: 4px solid #675bf9;
     } 
     #toggle {
        position: absolute;
        top: -100px;
    
    }
    nav .icon-bars {
        display: none;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
    nav .icon-bars .line{
        width: 30px;
        height: 5px;
        background-color: #ffffff;
        margin: 5px;
        border-radius: 3px;
        transition: all .3s ease-in-out;
     }
     @media (max-width:778px) {
        nav .logo {
            float: none;
            width:auto;
            justify-content: center;
        }
        nav .list {
            float: none;
            position: fixed;
            z-index: 9;
            left: 0;
            right: 0;
            top: 500px;
            bottom: 200px;
            width: auto;
            height: auto;
            flex-direction: column;
            justify-content: first baseline;
            background-color: rgba(0, 0, 0, 0.8);
            overflow: hidden;
            transition: all .5s ease-in-out;
        }   
        nav .list a {
            font-size: 13px;
        
        }
        nav :checked ~ .list {
            bottom: 0;
        }
nav .icon-bars {
    display: block;
}

    }

    